@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-image: url(bg.png);
}

/* <navigation bar style section> */

.navbar-container {
  display: grid;
  justify-content: center;
  max-width: 100%;
  max-height: 575px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1160px;
  max-height: 62px;

}

.nav-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 202px;
  max-height: 62px;
  gap: 11px;

}

.nav-logo h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
}

.nav-links-list {
  list-style: none;
  display: flex;
  max-width: 387px;
  max-height: 30px;
  gap: 2rem;
  margin-left: 186px;
}

.nav-text {
  font-weight: bold;
  font-size: 20px;
}

.text-1 {
  color: rgba(254, 163, 1, 1);
}

.text-2 {
  color: rgba(1, 172, 253, 1);
}

.text-3 {
  color: rgba(5, 212, 223, 1);
}

.text-4 {
  color: rgba(93, 88, 239, 1);
}




.nav-btns {
  display: flex;
  justify-content: right;
  max-width: 197px;
  max-height: 45px;
  justify-content: center;
  align-items: center;

}

.nav-btns {
  background-color: rgba(254, 163, 1, 1);
  border-radius: 12px;
  padding: 6px 1px;
  margin-left: 170px;
}

.btn-text-1 {

  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: semibold;
  padding: 10px 60px;
}

/* navbar responsive  */
@media screen and (max-width: 756px){
    .hide {
      display: none;
    }
    .navbar-container{
      display: flex;
      width: 390px;
      height: 70px;
      background-image: url(menu.png);
      justify-content: space-evenly;
    }
}





/* Banner style section  */

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 1158.61px;
  height: 575px;
  margin: 10px auto;
}

.banner-text h1 {
  font-size: 56px;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 12px;
  
  
}
.banner-text p {
  font-size: 20px;
  font-weight: regular;
  color:rgba(0, 0, 0, 1);
  margin-bottom: 24px;
}

.banner-text button{
  width: 197px;
  height: 50px;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 12px;
}
.banner-btn {
  width: 103px;
  height: 30px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: bold;
}
.banner-img {
  margin-left: 110px; 
}

@media screen and (max-width: 756px) {
    .banner-img {
      width: auto;
      height: 725px;
      display: flex;
      flex-direction: column;
      
    }
  
}






/* standard curriculum */

header > h1 {
  height: 57.5px;
  width: 100%;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.curriculum-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
  width: 1158.61px;
  height: 575px;
  margin: 10px auto;

}
.kinder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(222, 245, 255, 0.5);
  border-radius: 18px;
}

.elementary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 244, 220, 0.5);
  border-radius: 18px;
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(242, 232, 255, 0.5);
  border-radius: 18px;
}

.curriculum-container div img {
  width: 136px;
  height: 136px;
  padding: 52px 32px 110px 110px;
}

.curriculum-container div h4{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.curriculum-container div p{
  font-size: 16px;
  font-weight: medium;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.curriculum-container div h6{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.Read-More-1{
  color:rgba(100, 200, 255, 1) ;
}
.Read-More-2{
  color:rgba(240, 170, 0, 1) ;
}
.Read-More-3{
  color:rgba(242, 232, 255, 1);
}

/* Standard curriculam responsive style  */

@media screen and (max-width: 756px){

.curriculum-container div {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
}

}



/* orange icon style section */
.orange-icon {
  display: flex;
  max-width: 100%;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* card style section  */

header > h2 {
  height: 57.5px;
  width: 100%;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.our-stories-container {
  width:100%;
  margin: 0 auto;
  text-align: center;

}

.our-stories {
  display: grid;
  grid-template-columns: repeat(3, 2fr 1fr);
  width: 1158.61px;
  height: 550px;
  margin: 10px auto;
  gap: 20px;
  border-radius: 12px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  border-radius: 12px;
}


.cards-1 h5{
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);

}
.cards-1 p{
  font-size: 16px;
  font-weight: medium;
  color: rgba(102, 102, 102, 1);
}

.size h5 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}


.card-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 60px 0px 0px;
  
}

.card-btn button{
  width: 95px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* footer style section */

footer {
  margin-top: 70px;
  display: grid;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color:rgba(1, 172, 253, 1);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 1158.61px;
  height: 575px;
}

.footer-logo {
  display: grid;
  margin-top: 123px;
  grid-template-columns: 1fr 1fr;
  max-width: 202px;
  max-height: 62px;
  
  
}
.footer-logo img {
  width: 82px;
  height: 81px;
  
}

.footer-logo h3 {
  font-weight: 700;
  font-size: 42px;
  margin-top: 10px;
  font-size: 42px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.footer-logo p{
  margin-top: -20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: Regular;
  color: rgba(255, 255, 255, 1);
}

.footer-links h3{
  margin-top: 123px;
  font-size: 26px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.footer-links ul{
  list-style: none;
  display: flex;
  flex-direction: column; 
  font-weight: medium;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  gap: 20px;
  margin-top: 20px;
  padding-left: 0px;
}

.footer-icons h3{
  margin-top: 123px;
  font-size: 26px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}